/*footer*/

.footer {
    display: flex;
    flex-direction: column ;
    background-color: #353535;
  
       a{
           color: white;
       }
    
    
      ul {
          list-style: none;
          
      }
  
      li{
          padding-bottom:5px;
          color: white;
          &:hover {
              text-decoration: underline;
              color: white;
          }
    }

}
       

      i {
          margin-right: 5px;
      }
  
  
  
  .footer__logo {
      font-family: 'shrikhand';
      color: white;
      font-size: 20px;
      margin-left:40px;
      margin-top: 15px;
      text-decoration: none;
  }
  
  
  