/* polices */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", "sans serif";
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* header*/
.logo {
  display: flex;
  justify-content: space-around;
}
.logo img {
  width: 30%;
}

.input_container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

input {
  text-align: center;
  background-color: lightgray;
  font-size: 20px;
  width: 100%;
  padding: 10px;
}

.input_icon {
  padding-top: 10px;
  padding-right: 170px;
  position: absolute;
  font-size: 21px;
}

/* paragraphe et bouton explorer */
.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  background-color: #ededed;
}
.explorer h1 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
}
.explorer p {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}

.btn {
  width: 200px;
  height: 35px;
  border-radius: 20px;
  margin-bottom: 60px;
  margin-top: 25px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: -7px 8px 11px -3px rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#a16be0 0%, #fface8 100%);
  box-shadow: -7px 8px 11px -3px rgba(0, 0, 0, 0.85);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 20px;
}

/* section fonctionnement*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.fonctionnement__title {
  margin-left: 20px;
}

.card__fonctionnement {
  display: flex;
  justify-content: left;
  align-items: center;
  color: black;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  height: 60px;
  box-shadow: -7px 8px 11px -3px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
}
.card__fonctionnement:hover {
  background-color: #f2eafb;
  box-shadow: -7px 8px 11px -3px rgba(0, 0, 0, 0.85);
}
.card__fonctionnement h5 {
  border-radius: 100%;
  border: solid 0px lightgray;
  padding: 7px;
  margin-right: 15px;
  margin-left: -8px;
  color: white;
  background-color: #9356DC;
}
.card__fonctionnement div svg {
  margin-right: 15px;
}
.card__fonctionnement div svg:hover {
  color: #9356DC;
}

/* section avec tous les restaurants*/
.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
}

.restaurant__accueil__title {
  margin-left: 20px;
}

.card__restaurant {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: -7px 8px 11px -3px rgba(0, 0, 0, 0.4);
  background-color: white;
  position: relative;
}
.card__restaurant:hover {
  box-shadow: -7px 8px 11px -3px rgba(0, 0, 0, 0.85);
}
.card__restaurant img {
  border-radius: 20px 20px 0px 0px;
  height: 180px;
}

.name__restaurant h3 {
  margin-left: 10px;
  margin-bottom: 5px;
}
.name__restaurant h4 {
  margin-left: 10px;
  margin-top: 0;
}

.legend__restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*animation du coeur*/
.heart svg {
  font-size: 20px;
  padding-right: 15px;
}

.heart svg path {
  fill: transparent;
  stroke-width: 25px;
  stroke: black;
}

.heart svg:hover path {
  animation: animate-heart 6s ease-in-out none;
}

@keyframes animate-heart {
  0% {
    fill: linear-gradient(0deg, #9356DC, #FF79DA);
  }
  25% {
    fill: linear-gradient(0deg, #9356DC, #FF79DA);
  }
  100% {
    fill: linear-gradient(0deg, #9356DC, #FF79DA);
  }
}
.nouveau {
  border: solid #99E2D0 1px;
  width: 70px;
  background-color: #99E2D0;
  color: #278870;
  text-align: center;
  padding: 4px;
  position: absolute;
  right: 8%;
  bottom: 85%;
  box-shadow: -7px 8px 11px -3px rgba(0, 0, 0, 0.4);
}

/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  align-items: left;
}
.footer ul {
  list-style: none;
}
.footer a {
  text-decoration: none;
  color: #f1f1f1;
}
.footer i {
  margin-right: 5px;
}

.footer__logo {
  stroke: yellow;
  fill: chartreuse;
  width: 100px;
}

/*loading-spinner*/
/*.loader {
    height: 100%;
    width: 100%;
}

.custom-loading-spinner {
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;
}
.custom-loading-spinner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10001;
    overflow: hidden;
    background: #0b0b0b;
    opacity: 0.6;
}
.custom-loading-spinner::after {
    box-sizing: border-box;
    z-index: 10002;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: custom-loading 1s linear;
}
@keyframes custom-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
 */
/* ----fiche pour les restaurants-------------------------------*/
/*header fiche restaurant*/
.header__restaurant {
  display: flex;
  flex-direction: column;
}

.header__logo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 15px;
}
.header__logo div i {
  padding-left: 20px;
}

/* main fiche restaurants */
.image__restaurant {
  width: 100%;
}

.fiche__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px blue;
  background-color: #f5f6fa;
  position: relative;
  margin-top: -12%;
  border-radius: 30px 30px 0 0;
}

.restaurant__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: solid springgreen 2px;
  width: 90%;
  z-index: 3;
}
.restaurant__title h1 {
  padding-right: 100px;
}

.card__menu {
  width: 90%;
  border: solid red 2px;
  margin-bottom: 40px;
}

.card__menu__title h2 {
  border-bottom-width: 5px 5px 5px 5px;
  border-bottom: 3px #99E2D0 solid;
  font-weight: 300;
  font-size: medium;
}

.choice {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: -7px 8px 11px -3px rgba(0, 0, 0, 0.4);
}
.choice:hover {
  box-shadow: -7px 8px 11px -3px rgba(0, 0, 0, 0.85);
}
.choice h3 {
  margin: 0;
  padding: 10px 0 0 10px;
  font-size: small;
}
.choice h4 {
  margin: 0;
  padding: 10px 0 10px 10px;
  font-size: smaller;
  font-weight: 300;
}

.price {
  align-self: flex-end;
}
.price h5 {
  margin: 0;
  padding: 0 10px 10px 0;
}

/*bouton commandez*/
#btn__commander .btn {
  width: 200px;
  height: 35px;
  border-radius: 20px;
  margin-bottom: 60px;
  margin-top: 25px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: -7px 8px 11px -3px rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
#btn__commander .btn:hover::after {
  opacity: 1;
}
#btn__commander .btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#a16be0 0%, #fface8 100%);
  box-shadow: -7px 8px 11px -3px rgba(0, 0, 0, 0.85);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 20px;
}

/*# sourceMappingURL=style.css.map */
