
body{
    font-family: 'Roboto','sans serif';
    box-sizing: border-box;
    margin: 0;
  
   }

a{
text-decoration: none;
color: black;
cursor: pointer;
}


  /* paragraphe et bouton explorer */

.explorer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    background-color:$background-section-color;
   
    
    h1 {
        text-align: center;
        font-size: 22px;
        margin-bottom: 15px;
        
        
    }
     p{ 
         margin-top: 5px;
         margin-bottom: 15px;
         font-size: 20px;
         text-align: center;
         
     }     
}

.btn__explorer{
@extend .btn;
}


/* section fonctionnement*/

.fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right:20px;
}


.card__fonctionnement {
    display: flex;
    justify-content:left;
    align-items: center;
    color: black;
    margin-bottom: 20px;
    background-color:white;
    border-radius: 15px;
    height: 60px;
    box-shadow: $box-shadow;
    position: relative;
    z-index: 1;
    &:hover {
      background-color: lighten($colour-primary,35%);
      box-shadow:$box-shadow-visibility;
      
     }
            h5{
                border-radius: 100%;
                border:solid 0px lightgray;
                padding: 7px;
                margin-right:15px;
                margin-left: -8px;
                color:white;
                background-color: $colour-primary;
            }

            div i {
                margin-right: 15px;
                
                &:hover {
                    color: $colour-primary;
                }
           }
}


/* section avec tous les restaurants*/
.accueil__title{

margin-left: 20px;
margin-bottom: -70px;
}

.restaurant {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    background-color:$background-section-color;

}

.card__restaurant {
    display: flex;
    flex-direction: column;
    margin:20px;
    border-radius: 20px;
    box-shadow: $box-shadow;
   background-color: white;
   position: relative;
        &:hover {
            box-shadow: $box-shadow-visibility;
        }

   img {
    border-radius: 20px 20px 0px 0px;
    height: 250px;
    
    }

.far {
    @include heart;

    }
}

.name__restaurant {
    h3{
        margin-left:10px;
        margin-bottom: 5px;

    }
    h4 {
        margin-left:10px;
        margin-top: 0;

    }
}


.legend__restaurant{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nouveau {
    width: 70px;
    background-color: $colour-tertiary;
    color:darken($colour-tertiary,40%);
    text-align:center; 
    padding: 4px;
    position: absolute;
    right: 8%;
    bottom:85%;
    box-shadow: $box-shadow;
    
}


@media only screen and (min-width:1024px){

.restaurant{
display: grid;
grid-template-columns: repeat(2,1fr);

}

.fonctionnement {
flex-direction: row;
justify-content: space-between;
margin-bottom: 30px;
}
.card__fonctionnement{
padding-right: 30px;
}

}


