

/* main fiche restaurants */ 

.fiche__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:$colour-background;
    position: relative;
    margin-top: -12%;
    border-radius: 30px 30px 0 0;
    
}

.restaurant__title {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 90%;
    
   
       h1 {
           padding-right: 100px;
       }
       div i{
           @include heart;
       }
}

    .card__menu {
        width: 90%;
        margin-bottom: 40px;
        }


    .card__menu__title h2{
        
        font-weight: 300;
        font-size: medium;

        &::after {
            content:'';
            display: block;
            width: 30px;
            height: 4px;
            background:$colour-tertiary;
        }
    }

.choice {
    display: flex;
    justify-content:space-between;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow:$box-shadow;  
    overflow: hidden;
    position: relative;

  
        
        h3 { 
            margin: 0;
            padding:10px 0 0 10px;
            font-size: small;
        }
        h4 {
            margin: 0;
            padding:10px 0 10px 10px;
            font-size: smaller;
            font-weight: 300;
        }


    &:hover {
        box-shadow: $box-shadow-visibility;
      @include choix;}
       
}

.price{
   position: absolute;
   right:15px;
   top:12px;
   

}

.check {
   width:70px;
   border-radius: $border-radius;
   top: 0;
   right: 0;
   background: $colour-tertiary;
   transform-origin:right;
   opacity: 1;
   transform: translateX(70px);
   transition: transform 2s;  
}      


.fa-check-circle{
       padding: 17px 0 17px 8px;
       font-weight: bold;
       color:white;
       font-size:30px;
       transform: rotatey(0deg);
       transition:transform 1s;
}

/*bouton commandez*/

.btn__commander{
    @include btn;
}



@media only screen and ( min-width:1024px){
    
    .restaurant__title {
        position: absolute;
        top:-100px;
        justify-content: flex-start;
        margin-left: 20px;
    }
    
    .fiche__menu {
        margin-top:100px;
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .card__menu {
        margin-left: 20px;
    }
    .card__menu__title h2{
        margin-left: 10px;
    }

 .btn__commander{
     margin-left: 180px;
     height: 80px;;
     font-size: 25px;
 }


}
