@mixin lighten-btn {
    background:linear-gradient(lighten($colour-primary,5), lighten($colour-secondary, 5));
    
    
}



/* remplissage du coeur */

@mixin heart {

font-size: 25px;
margin-right: 15px;
transition: all 2s linear;

    &:hover {
    font-weight: bold;
    background:-webkit-linear-gradient($colour-primary, $colour-secondary);
    -webkit-background-clip: text;
    color: transparent;
    }

}