$colour-primary:#9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background:#f5f6fa;
$box-shadow:-7px 8px 11px -3px rgba(0,0,0,0.4);
$box-shadow-visibility:-7px 8px 11px -3px rgba(0,0,0,0.85);
$background-section-color:#ededed;
$background-btn:linear-gradient(0deg,$colour-primary,$colour-secondary);